[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "<6.1.0"
pytest-xdist = "*"
pytest-rerunfailures = "*"
requests = "*"
faker = "*"

[requires]
python_version = "3.7"
