[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "*"
pytest-xdist = "*"
pytest-rerunfailures = "*"
requests = "*"
faker = "*"
requests_oauthlib = "*"

[requires]
python_version = "*"
